<ion-view view-title="Reviews">
	<ion-content>
	    <!-- <div class="image-container">	
	    	<img ng-src="{{data.largeFrontImage}}"/>	
		</div>
		 <div class="circle">		
		</div> -->
		<div ng-hide="showReviews">
				<div class="container review-container">
					<ul>
						<li class="category">
							<a href="#">
								<i >{{results.reviewResults.noOfPositive}}</i>
								<div class="text"> No. of Positive Reviews</div>
							</a>
						</li>
						<li class="category">
							<a href="#">
								<i >{{results.reviewResults.noOfNegative}}</i>
								<div class="text"> No. of Negative Reviews</div>
							</a>
						</li>
					</ul>
						<div class="middle category">
							<a href="#">
								<i>{{results.reviewResults.totalScore |  limitTo:4}}</i>
								<div class="text">Total Score</div>
							</a>
						</div>
				</div>
				<div class="rating">
				     <div class="text">Avg. Rating</div>
					 <span ng-repeat="n in rating"><i class="fa fa-star star"></i></span>
				</div>
				<div class="button-container padding">
					 <button type="button" class="button button-block button-outline" ng-click="readReviews()">
										 Read Reviews
					</button>
				</div>
		 </div>
		 <div ng-show="showReviews">
		 	<div class="list">
			    <a class="item" ng-class="{{clickClass}}" href="#" ng-repeat="review in results.reviews" ng-click="openReview()">
			      <h2>{{review.title}}</h2>
			      <p>{{review.comment}}</p>
			    </a>
			</div>
		 </div>
	</ion-content>
</ion-view>