<ion-view view-title="Login" name="login-view">
  <div class="logo" ng-include="'app/shared/logo/logo.html'"></div>	
  <ion-content class="padding">
  <div class="loginForm centered">
		<div class="list">
		    <input type="tel" placeholder="Mobile" ng-model="data.username">
		    <input type="password" placeholder="Passcode" ng-model="data.password">
		</div>
		<div>
		 <button class="button button-block button-glass" ng-click="signIn()">
		   Login
		 </button>
		  <button class="button button-block button-glass" ng-click="signUp()">
		   Sign Up
		 </button>

		</div>
		<span><a href="#">Forgot Password?</a></span>
	</div>
  </ion-content>
</ion-view>