@font-face {
  font-family: 'Anders';
  src: url('../fonts/Anders.ttf')  format('truetype');
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-CondLight.ttf')  format('truetype');
}

.pane{
  color: #fff;
}
.bar .title {
  font-family: 'OpenSans';
}
 .title {
     margin-top: 25px;
  }
.title h2
{
  text-align: center;
  font-family: "Anders",sans-serif;
  font-weight: bold;
  color: #fff
}
.bar{
  border: none;
  background: transparent;
}
.bar .button{
  color: #F9F0F0;
}
.pane{
  background-image: url('../img/bg1.png');
  background-size: cover;
}
a{
   text-decoration: none;
    color: #fff;
}
.container{
  margin-top:10px;
  margin-bottom: 25px;
}
.container .category{
  text-align: center;
   display: inline-block;
   width: 49%;
   margin-top:10px;
   margin-bottom: 25px;
}
.category .text{
   font-family: "OpenSans";
   margin: 5px;
}
.container .category i{
  font-size: 50px;

}
.row .category:first-child{
  border-right: 1px dotted white;
}
.list{
  margin-bottom: 1px;
}
.bar span.previous-title{
  display: none;
}
.image-container{
  height:100px;
  margin: 0 auto;
  padding:10%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 35;
}
.image-container img{
  opacity: 0.8;
  position: absolute;
  top: 10px;
  left: 35%;
  max-width: 120px;
  max-height: 120px;
  width: 100%;
  height: 100%;

}
.circle{
  height: 131px;
  width: 100%;
  border-radius: 26%;
  position: absolute;
  background-color: #fff;
  top:0;
  z-index: -1;
}
.review-container{
    margin-top: 15%;
}
.container .middle{
      width: 100%;
}
.popup {
  background: transparent;  
}
.loading-container .loading {
      background-color: rgba(222, 184, 184, 0.7);
}
.spinner-ios, .spinner-ios-small {
    stroke: #0E1115;
}
.popup-buttons .button.button-positive {
    border-color: #464A50;
    background-color: #2E3A4E;
    color: #fff;
}
.star{
  margin: 2px;
}
.rating{
  font-size: 30px;
  text-align: center;
}
.rating .text{
   font-family: "OpenSans";
   margin: 5px;
   margin-bottom: 10px
}
.button-container{
  padding: 10px;
  margin-top: 20px;
}
.button-container button{
  margin: 0 auto;

}
.button.button-dark.button-outline{
  color: #fff;
  border-color:#775E5E;
}
.wrap{
  white-space: normal;
}
.item-complex{
    margin: 0px 15px -1px 15px;
    border-left: none;
    border-right: none;
}
.menu-title{
      margin-left: 10px;
}
/*.home .list{
  background: transparent;
}
.home .list .item{
    background-color: transparent;
  }
input[type="text"]{
  color:#fff;
}
*/