<ion-view view-title="Products" controller="ProductsController">
	<ion-content>
		<div class="list" ng-repeat="product in products">
		    <a class="item item-thumbnail-left"  ng-click="getReviews(product)">
		      <img ng-src="{{product.image}}">
		      <h2>{{product.name}}</h2>
		      <p>{{product.shortDescription}}</p>
		    </a>
		</div>
	</ion-content>
</ion-view>