<ion-side-menus ng-controller="SideMenuController">
	<ion-side-menu-content>
		<ion-nav-bar class="bar">
			<ion-nav-back-button>
			</ion-nav-back-button>
			 <ion-nav-buttons side="left">
		         <button ng-click="toggleLeft()" menu-toggle="left" class="button button-icon button-clear ion-navicon">
		         </button>
	         </ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuView">
		</ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left">
		<ion-content>
			<ion-list>
				<ion-item menu-close nav-clear href="#/corporationHome">
					<i class="fa fa-home"></i>
					<span class="menu-title">Home</span>
				</ion-item>
				<ion-item menu-close nav-clear href="#/theatres">
					<i class="fa fa-film"></i>
					<span class="menu-title"> Developer</span>
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>