<ion-view view-title="QuickSpec" ng-controller="HomeController" hide-nav-bar="true">
	<ion-content class="home">
		<div class="title">
			<h2>QuickSpec</h2>
		</div>
		<div class="list list-inset">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Search" ng-model="search">
		  </label>
		</div>
		<div class="container">
			<ul>
				<li class="category" ng-repeat="category in categories | filter:search">
					<a href="#" ng-click="categoryClick(category.pathId)">
						<i ng-class="category.class"></i>
						<div class="text">  {{category.categoryName}}</div>
					</a>
				</li>
			</ul>
		</div>
	</ion-content>
</ion-view>